<div class="credimi-extras-bar">
  <div class="credimi-extras-bar-inner"><img class="credimi-extras-mark" src="{{ '/assets/credimi_logo.svg' | url }}" alt="" aria-hidden="true" width="16" height="16"> This app is part of <strong>Credimi Extras</strong>. Automate all your EUDI testing with <a href="https://credimi.io" target="_blank" rel="noopener">Credimi</a></div>
</div>
