<div class="credimi-extras-bar-footer">
  <div class="credimi-extras-bar-inner">This app is part of <strong>Credimi Extras</strong>. Automate all your EUDI testing with <a class="credimi-extras-wordmark-link" href="https://credimi.io" target="_blank" rel="noopener"><img class="credimi-extras-wordmark" src="{{ '/assets/credimi_logo-transp_white.svg' | url }}" alt="Credimi"></a></div>
</div>
